{%extends 'base.html'%} {%block title%}Edit Post{%endblock%} {%block content%}

<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method="post">
  <div class="form-group well">
    <label for="">Title</label>
    <input
      type="text"
      name="post-title"
      class="form-control"
      value="{{post.title}}"
    />
  </div>
  <div class="form-group well">
    <label for="">Content</label>
    <input
      type="text"
      name="post-content"
      class="form-control"
      value="{{post.content}}"
    />
  </div>
  <div class="btn">
    <button class="btn btn-primary">Save</button>
  </div>
</form>
<form action="/posts/{{post.id}}">
  <div class="btn">
    <button class="btn btn-default">Cancel</button>
  </div>
</form>
{%endblock%}
